{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="POST" class="flex justify-center flex-col">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <p class="alert alert-{{ type }}" role="alert">
                    {{ message }}
                </p>
            {% endfor %}
        {% endfor %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" class="font-bold">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-bold">Connectez vous</h1>
        <label for="username">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">Mot de passe</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <div class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me">Remember me</label>
        </div>
       
        <button class="btn btn-lg btn-primary font-bold mb-5" type="submit">
            Se connecter
        </button>

        <p> Pas de compte? <a href="{{path('register')}}" class="font-bold"> S'inscrire </a></p>
        <a href="{{path('forgot')}}" class="font-bold"> Mot de passe oublié  </a>
    </form>
{% endblock %}
