<div class="flex">
    <div class="bg-gray-800 text-white w-64 min-h-screen p-5">
        <h2 class="text-xl font-semibold mb-6">Admin Dashboard</h2>
        <ul>
            <li><a href="{{ path('app_activity_index') }}" class="block py-2 px-4 hover:bg-gray-700 rounded">Activities</a></li>
            <li><a href="{{ path('app_comment_index') }}" class="block py-2 px-4 hover:bg-gray-700 rounded">Comments</a></li>
            <li><a href="{{ path('app_country_index') }}" class="block py-2 px-4 hover:bg-gray-700 rounded">Countries</a></li>
            <li><a href="{{ path('app_currency_index') }}" class="block py-2 px-4 hover:bg-gray-700 rounded">Currencies</a></li>
            <li><a href="{{ path('app_language_index') }}" class="block py-2 px-4 hover:bg-gray-700 rounded">Languages</a></li>
            <li><a href="{{ path('app_travel_index') }}" class="block py-2 px-4 hover:bg-gray-700 rounded">Travels</a></li>
            <li><a href="{{ path('app_user_index') }}" class="block py-2 px-4 hover:bg-gray-700 rounded">Users</a></li>
        </ul>
    </div>
</div>