{% extends 'base.html.twig' %}

{% block title %}Accueil - Agence de Voyage{% endblock %}

{% block body %}
    <section class="flex justify-center flex-col gap-3">
        <h1>Page d'accueil :^)</h1>
        <p>Voyages recommandés :</p>
        <div class="flex flex-row flex-wrap justify-center gap-5">
            {% for travel in travels %}
                <div class="travel-card">
                    <h2>{{ travel.destination.name }}</h2>
                    <p><strong>Date de début :</strong> {{ travel.startAt|date('d/m/Y') }}</p>
                    <p><strong>Date de fin :</strong> {{ travel.endAt|date('d/m/Y') }}</p>
                    <p><strong>Prix :</strong> {{ travel.price }} €</p>
                    <p><strong>Places disponibles :</strong> {{ travel.availableSpots }}</p>
                    <a href="{{ path('travel_details', { id: travel.id }) }}" class="underline font-bold">
                        Voir les détails du voyage
                    </a>
                </div>
            {% else %}
                <p>Aucun voyage disponible pour le moment.</p>
            {% endfor %}
        </div>
        <a href="{{ path('travel_list') }}" class="font-bold mt-3">Voir tous les voyages</a>
    </section>
{% endblock %}
