{% extends 'admin/base.html.twig' %}

{% block title %}Language index{% endblock %}

{% block body %}
    <h1>Language index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language in pagination.items %}
            <tr>
                <td>{{ language.id }}</td>
                <td>{{ language.name }}</td>
                <td>
                    <a href="{{ path('app_language_show', {'id': language.id}) }}">show</a>
                    <a href="{{ path('app_language_edit', {'id': language.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination flex justify-center mt-3 font-bold">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('app_language_new') }}">Create new</a>
{% endblock %}
